# Anexo 18: Archivo contacts.cfg para configuración de contactos en Nagios
define contact {
	contact_name                    nagiosadmin
	alias                           Nagios Admin
	email                           iset.smt2024@gmail.com
	service_notification_period       24x7
	host_notification_period           24x7
	service_notification_options       w,u,c,r
	host_notification_options          d,u,r
	service_notification_commands      notify-service-by-email
	host_notification_commands          notify-host-by-email
}

define contactgroup {
	contactgroup_name        admins
	alias                    Nagios Administrators
	members                  nagiosadmin
}
